body{
background-image: url("../../images/background3.jpg");
 /* Full height */
 height: 50%; 

 /* Center and scale the image nicely */
 background-repeat: no-repeat;
 /* background-size: cover; */
 background-position: 50% 30%;
}
